@import url('/src/css/style.css');

body {
    background: linear-gradient(49deg, var(--main-dark) 0%, var(--main-light) 100%);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-size: 24px;
}

main {
    background-color: #d9d9d9;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

h1 {
    font-weight: 400;
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 20px;
}

p,input {
    color: var(--neutral);
    align-self: flex-start;
    margin: 16px 40px;
}

input {
    margin-top: 0;
    width: 404px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--border);
    outline: 0;
    padding-left: 12px;
    font-size: 18px;
}

button {
    width: 262px;
    height: 47px;
    margin-top: 24px;
    background-color: var(--neutral);
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color: var(--neutral-dark);
}

a {
    text-decoration: none;
    font-size: 16px;
    margin-top: 16px;
    color: var(--neutral);
}